@*
* This file is part of the Nextbeat services.
*
* For the full copyright and license information,
* please view the LICENSE file that was distributed with this source code.
*@
@import views.html.helper
@import model.site.facility.SiteViewValueFacilityList
@import play.api.data.Form

@import persistence.facility.model.FacilitySearch
@(vv: SiteViewValueFacilityList, form: Form[FacilitySearch])(implicit messages: play.api.i18n.Messages)

@** 施設検索一覧 *@
@views.html.common.layout.InnerContent("site-app-post-show", "content") {
@** --[ 見出し ]---------------------------------------------------------- *@
<div class="content__section top photo">
@views.html.common.component.image.ResponsiveImage(
path    = "site/recruit/internship_for_summer_21/03_mentor-kawai.png",
alt     = "エンジニア 川井 淳矢",
classes = "photo__image")
</div>

<div class="content__section detail">
 <div class="title">
  <label class="inline">作品名：</label>
  <p class="inline">title</p>
 </div>
 <div class="content">
  <label class="inline">説明：</label>
  <p class="inline">description</p>
 </div>
 <div class="address">
  <label class="inline">住所：</label>
  <p class="inline">address</p>
 </div>
</div>

}