@*
 * This file is part of the Nextbeat services.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 *@

@(vv: model.component.util.ViewValuePageLayout)(implicit messages: play.api.i18n.Messages)
<header id="nav-global" class="nav-global-simple content">
  <div class="content__inner">
    @** ロゴ *@
    <h1 class="content__section logo">
      <a class="logo__inner" href=@controllers.home.routes.HomeController.view>
        @views.html.common.component.image.ResponsiveImage(
          alt     = vv.messages("_image-service-logo"),
          path    = "common/logo.png",
          classes = "logo__image",
          maxSize = 1
        )
      </a>
    </h1>
      <div class="link__mypage">
      <h3>
          <a href=@controllers.mypage.routes.MypageController.show>
              <div class="text">
              マイページ
              </div>
          </a>
      </h3>
      </div>
  </div>
</header>
